.nodeBox {
    width:15px;
    height:15px;
    display:inline-block;
    border: 1px solid black;
    margin-right: 3px;
}

.startNode {
    background-color: green !important;
}

.finishNode {
    background-color: red !important;
}
.visitedNode {
    background-color: yellow;
}
.routeNode {
    background-color: blue;
}