.nodeBox {
    width:20px;
    height:20px;
    display:inline-block;
    border: 1px solid black
}

.startNode {
    background-color: green;
}

.finishNode {
    background-color: red;
}
.visitedNode {
    background-color: yellow;
}