.nodeBox {
    width:15px;
    height:15px;
    display:inline-block;
    border: 1px solid black;
    padding: 0px;
    margin: -3 0 0 0;
}

.startNode {
    background-color: green !important;
}

.finishNode {
    background-color: red !important;
}
.visitedNode {
    background-color: yellow;
}
.routeNode {
    background-color: blue;
}
.wallNode {
    background-color: black;
}